*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    background-color: rgba(0, 0, 0, 0.893);
    border-bottom: 2px solid lightgray;
    display: flex;
    line-height: 5rem;
    gap: 4rem;     
    padding-left: 4rem;
    color: rgb(193, 237, 126);
    font-size:20px;
    height: 80px;
   }
    .nav-bar p:hover{
        text-decoration: underline black;
        font-size: larger;
    }
    
    
     