*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    line-height: 5rem;
    gap: 2rem;
    padding-left: 4rem;
    background-color: black;
    color: white;
    font-size:larger;
    height: 80px;
    }
.intro{
    border-radius: 13%;
    place-items: center;
    margin-left:550px;
    margin-top: 45px;
    height: 500px;
    width:450px;
    background-color: rgba(0, 0, 0, 0.886); 
}
h1{
    color:goldenrod ;
    font-size: 55px;
    line-height: 6rem;
    padding-top: 1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bio{
    font-size: larger;
    margin-top: 15px;
    margin-left: 50px; 
    margin-right: 50px;  
    color:white;
}
.work{
    font-size: 55px;
    background-color: aqua;
    width: 450px;
    text-align: center;
    margin-left: 550px;
    margin-top: 70px;
}
.samples{
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    margin-top: 50px;
    color: black;
   
}
.no{
    background-color: burlywood;
    height: 450px;
    width: 350px;
    text-align: center;
    line-height: 5rem;
    border-radius: 8%;
}